<app-menu-usuario></app-menu-usuario>

<body class="body">
  <div class="container main-container">
    <div class="container">
      <div class="painel">
        <div class="painel-topo">
          <h1>Vagas</h1>     
            <input class="form-control topicos" id="filtros" type="text" placeholder="Filtros" formControlName="filtro"/>
        </div>      
  
        <div *ngIf="true" class="painel-corpo">
      
        <ul class="nome">
          <span>Analista de Sistemas</span>
          <li class="descricao">Híbrido</li>
          <button class="btn btn-warning botao-editar" (click)="visualizarVaga()">Visualizar</button>
        </ul>
  
        <ul class="nome">
          <span>Programador C#</span>
          <li class="descricao">Trabalhar home office</li>
          <button class="btn btn-warning botao-editar" (click)="visualizarVaga()">Visualizar</button>
        </ul>
  
        <ul class="nome">
          <span>Analista de Sistemas</span>
          <li class="descricao">Híbrido</li>
          <button class="btn btn-warning botao-editar" (click)="visualizarVaga()">Visualizar</button>
        </ul>
  
        <ul class="nome">
          <span>Programador C#</span>
          <li class="descricao">Trabalhar home office</li>
          <button class="btn btn-warning botao-editar" (click)="visualizarVaga()">Visualizar</button>
        </ul>
        <ul class="nome">
          <span>Analista de Sistemas</span>
          <li class="descricao">Híbrido</li>
          <button class="btn btn-warning botao-editar" (click)="visualizarVaga()">Visualizar</button>
        </ul>
  
        <ul class="nome">
          <span>Programador C#</span>
          <li class="descricao">Trabalhar home office</li>
          <button class="btn btn-warning botao-editar" (click)="visualizarVaga()">Visualizar</button>
        </ul>

        </div>
  
          <div *ngIf="false" class="row conteudo">
            <div class="col-6 sem-conteudo"><span>Não possui vagas cadastradas</span></div>        
          </div>  
        </div>
      </div>   
    </div>
  </body>

<app-rodape-usuario></app-rodape-usuario>