<app-menu-usuario></app-menu-usuario>

<div class="container main-container">
  <div class="container">
    <div class="painel">      
      
        <div class="detalhes-vaga">
          <div class="nome-vaga"><span>Programador C#</span></div>
          <div class="descricao">
            <p>- Experiência com C#;</p>
            <p>- Conhecimento em HTML, CSS e JavaScript;</p>
            <p>- Conhecimento em HTML, CSS e JavaScript;</p>
            <p>- Experiência com .NET Core;</p>
            <p>- Experiência com CQRS e Testes de Unidade;</p>
            <p>- Conhecimento e Experiência em Arquitetura Distribuida;</p>
          </div>          
        </div>
        
        <div class="col-12">
          <span class="botoes">
            <button class="btn btn-primary botao-candidatar">Candidatar-se</button>
            <button class="btn btn-danger botao-voltar" (click)="voltarVagasUsuario()">Voltar</button>
          </span>
        </div>        
      
    </div>    
  </div>
</div>

<app-rodape-usuario></app-rodape-usuario>