<app-menu-usuario></app-menu-usuario>

<div class="container main-container">
  <div class="container">
    <div class="painel">
      <div class="painel-topo">
        <h1>Areas +</h1>
      </div>

      <div class="row painel-corpo">
        <div class="row titulos">
          <div class="col-1 titulo-coluna-1"><span>Posição</span></div>
          <div class="col-9 titulo-coluna-1"><span>Area</span></div>          
        </div>
        
        <div *ngIf="true" class="row conteudo">
            
          <div class="conteudo-coluna-0"><span>1º</span></div>
          <div class="col-9 conteudo-coluna-1"><span>Desenvolvimento de Sistemas</span></div>

          <div class="conteudo-coluna-0"><span>2º</span></div>
          <div class="col-9 conteudo-coluna-1"><span>Infraestrutura TI</span></div>
          
          <div class="conteudo-coluna-0"><span>3º</span></div>
          <div class="col-9 conteudo-coluna-1"><span>DevOps</span></div>

          <div class="conteudo-coluna-0"><span>4º</span></div>
          <div class="col-9 conteudo-coluna-1"><span>DBA</span></div>

          <div class="conteudo-coluna-0"><span>5º</span></div>
          <div class="col-9 conteudo-coluna-1"><span>Designer Gráfico</span></div>

          <div class="conteudo-coluna-0"><span>6º</span></div>
          <div class="col-9 conteudo-coluna-1"><span>Engenharias</span></div>

          <div class="conteudo-coluna-0"><span>7º</span></div>
          <div class="col-9 conteudo-coluna-1"><span>RH</span></div>

          <div class="conteudo-coluna-0"><span>8º</span></div>
          <div class="col-9 conteudo-coluna-1"><span>Comércio de Eletrônicos</span></div>

          <div class="conteudo-coluna-0"><span>9º</span></div>
          <div class="col-9 conteudo-coluna-1"><span>Agropecuária</span></div>

          <div class="conteudo-coluna-0"><span>10º</span></div>
          <div class="col-9 conteudo-coluna-1"><span>Direito</span></div>
                    
        </div>

        <div *ngIf="false" class="row conteudo">
          <div class="col-6 sem-conteudo"><span>Não possui vagas cadastradas</span></div>          
        </div>

      </div>
    </div>    
  </div>
</div>

<app-rodape-usuario></app-rodape-usuario>