<app-menu-admin></app-menu-admin>

<div class="container main-container">
  <div class="container">
    <div class="painel">
      <div class="painel-topo">
        <h1>Vagas</h1>
      </div>

      <div class="linha-botao-cadastrar">        
        <button class="btn btn-success botao-cadastrar" (click)="cadastrarVaga()">Cadastrar Vaga</button>
      </div>  

      <table class="row painel-corpo">
        <thead class="row titulos">
            <th class="col-4 titulo-coluna-1" scope="col"><span>Vaga</span></th>
            <th class="col-4 titulo-coluna-2" scope="col"><span>Descrição</span></th>
            <th class="col-3 titulo-coluna-3" scope="col"><span>Ação</span></th>
        </thead>
        <tbody *ngIf="true" class="row conteudo">

          <tr class="linha">
            <td class="col-4 conteudo-coluna-1"><span>Analista de Sistemas</span></td>
            <td class="col-4 conteudo-coluna-2"><span>Híbrido</span></td>
            <td class="col-3 conteudo-coluna-3">
              <span class="botoes">
                <button class="btn btn-warning botao-editar" (click)="editarVaga()">Editar</button>
                <button class="btn btn-danger botao-voltar" (click)="abrirExclusao()">Excluir</button>
              </span>
            </td>
          </tr>

            <tr class="linha">
              <td class="col-4 conteudo-coluna-1"><span>Programador C#</span></td>
              <td class="col-4 conteudo-coluna-2"><span>Trabalhar home office</span></td>
              <td class="col-3 conteudo-coluna-3">
                <span class="botoes">
                  <button class="btn btn-warning botao-editar" (click)="editarVaga()">Editar</button>
                  <button class="btn btn-danger botao-voltar" (click)="abrirExclusao()">Excluir</button>
                </span>
              </td>
            </tr>
            
            <tr class="linha">
              <td class="col-4 conteudo-coluna-1"><span>Programador C#</span></td>
              <td class="col-4 conteudo-coluna-2"><span>Trabalhar home office</span></td>
              <td class="col-3 conteudo-coluna-3">
                <span class="botoes">
                  <button class="btn btn-warning botao-editar" (click)="editarVaga()">Editar</button>
                  <button class="btn btn-danger botao-voltar" (click)="abrirExclusao()">Excluir</button>
                </span>
              </td>
              <td>
            </tr>

            <tr class="linha">
              <td class="col-4 conteudo-coluna-1"><span>Programador C#</span></td>
              <td class="col-4 conteudo-coluna-2"><span>Trabalhar home office</span></td>
              <td class="col-3 conteudo-coluna-3">
                <span class="botoes">
                  <button class="btn btn-warning botao-editar" (click)="editarVaga()">Editar</button>
                  <button class="btn btn-danger botao-voltar" (click)="abrirExclusao()">Excluir</button>
                </span>
              </td>
              <td>
            </tr>

            <tr class="linha">
              <td class="col-4 conteudo-coluna-1"><span>Programador C#</span></td>
              <td class="col-4 conteudo-coluna-2"><span>Trabalhar home office</span></td>
              <td class="col-3 conteudo-coluna-3">
                <span class="botoes">
                  <button class="btn btn-warning botao-editar" (click)="editarVaga()">Editar</button>
                  <button class="btn btn-danger botao-voltar" (click)="abrirExclusao()">Excluir</button>
                </span>
              </td>
              <td>
            </tr>

            <tr class="linha">
              <td class="col-4 conteudo-coluna-1"><span>Programador C#</span></td>
              <td class="col-4 conteudo-coluna-2"><span>Trabalhar home office</span></td>
              <td class="col-3 conteudo-coluna-3">
                <span class="botoes">
                  <button class="btn btn-warning botao-editar" (click)="editarVaga()">Editar</button>
                  <button class="btn btn-danger botao-voltar" (click)="abrirExclusao()">Excluir</button>
                </span>
              </td>
              <td>
            </tr>

            <tr class="linha">
              <td class="col-4 conteudo-coluna-1"><span>Programador C#</span></td>
              <td class="col-4 conteudo-coluna-2"><span>Trabalhar home office</span></td>
              <td class="col-3 conteudo-coluna-3">
                <span class="botoes">
                  <button class="btn btn-warning botao-editar" (click)="editarVaga()">Editar</button>
                  <button class="btn btn-danger botao-voltar" (click)="abrirExclusao()">Excluir</button>
                </span>
              </td>
              <td>
            </tr>

            <tr class="linha">
              <td class="col-4 conteudo-coluna-1"><span>Programador C#</span></td>
              <td class="col-4 conteudo-coluna-2"><span>Trabalhar home office</span></td>
              <td class="col-3 conteudo-coluna-3">
                <span class="botoes">
                  <button class="btn btn-warning botao-editar" (click)="editarVaga()">Editar</button>
                  <button class="btn btn-danger botao-voltar" (click)="abrirExclusao()">Excluir</button>
                </span>
              </td>
              <td>
            </tr>

            <tr class="linha">
              <td class="col-4 conteudo-coluna-1"><span>Programador C#</span></td>
              <td class="col-4 conteudo-coluna-2"><span>Trabalhar home office</span></td>
              <td class="col-3 conteudo-coluna-3">
                <span class="botoes">
                  <button class="btn btn-warning botao-editar" (click)="editarVaga()">Editar</button>
                  <button class="btn btn-danger botao-voltar" (click)="abrirExclusao()">Excluir</button>
                </span>
              </td>
              <td>
            </tr>

            <tr class="linha">
              <td class="col-4 conteudo-coluna-1"><span>Programador C#</span></td>
              <td class="col-4 conteudo-coluna-2"><span>Trabalhar home office</span></td>
              <td class="col-3 conteudo-coluna-3">
                <span class="botoes">
                  <button class="btn btn-warning botao-editar" (click)="editarVaga()">Editar</button>
                  <button class="btn btn-danger botao-voltar" (click)="abrirExclusao()">Excluir</button>
                </span>
              </td>
              <td>
            </tr>      
        </tbody>
        <tbody *ngIf="false" class="row conteudo">
          <td class="col-6 sem-conteudo"><span>Não possui vagas cadastradas</span></td>        
        </tbody>  
      </table>
      </div>
    </div>   
  </div>

 
<!-- MODAL DETALHES -->

<!-- GRID DETALHES -->

<div bsModal ngDraggable [handle]="handler" [config]="{ignoreBackdropClick: true}" id="mdExcluir"
    #mdExcluir="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mdExcluir"
    aria-hidden="true">
    <div class="modal-dialog div-detalhes modal-lg modal-dialog-centered ">
        <div class="modal-content div-detalhes">
            <div #handler class="modal-header">
                <button type="button" class="close" (click)="mdExcluir.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="wrapper-flexbox">
                    <h4 class="mr-30"></h4>
                    <h4></h4>
                </div>
            </div>
            <form >
                <div class="modal-body" id="area-modalDetalhes">

                    <!--Inicio Parte Superior Modal-->
                    <!-- Botões -->
                    <div class="row">

                        <div class="col-xs-12">
                            <button type="button" id="btnPdf" class="btn btn-labeled btn-danger" (click)="excluirVaga()">
                            <span class="btn-label"> <i class="fa fa-file-pdf-o"></i> </span>Excluir
                            </button>
                        </div>

                    </div>
                    
                    <!--Fim Parte Superior Modal-->                    

                    <!--Inicio Movimentos-->

                    <div class="meio-modal"></div>
                   
                    <!--Fim Movimentos-->

                    

                    <!--Inicio Parte Inferior Modal-->

                    <div class="fim-modal"></div>
                    
                    <!--Fim Parte Inferior Modal-->

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="mdExcluir.hide();">
                        FECHAR
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-rodape-admin></app-rodape-admin>